[submodule "LESosx"]
	path = LESosx
	url = https://github.com/inversil/LESosx
[submodule "LESwin"]
	path = LESwin
	url = https://github.com/inversil/LESwin
[submodule "LESgit"]
	path = LESgit
	url = https://github.com/inversil/LESgit
[submodule "AbletonLive10.1_MIDIRemoteScripts"]
	path = AbletonLive10.1_MIDIRemoteScripts
	url = https://github.com/gluon/AbletonLive10.1_MIDIRemoteScripts
[submodule "sndalgo"]
	path = sndalgo
	url = https://github.com/jhlax/sndalgo
